# Database
DATABASE_URL="postgresql://user:password@localhost:5432/musicchord"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="cffydyer4546876878oghjgdt4357yjgfhgfk"

# Google OAuth (opcional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# GitHub OAuth (opcional)
GITHUB_ID=""
GITHUB_SECRET=""

# App
NODE_ENV="development"
